:root {
  // page background
  --background-texture-image: url("assets/images/wood.png");

  // Logo style
  --logo-background-color: #0b568b;
  --logo-text-color: #fff;

  // Add list btn
  --add-list-btn-color: #fff;

  // List styles
  --list-name-color:#212529;
  --list-background-color: #e5eff5;

  // Add task btn
  --add-task-btn-color: #007bff;
  --add-task-btn-color-hover: #0056b3;

  // Hints
  --hints-background-color: #0c0c0c3b;
  --hints-text-color: #212529;

  --theme-text-color: #505050;
}
